{% extends 'combo/index.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date  %}
            <div class="date">
                {{ post.published_date  }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'combo:edit' post.pk %}" ><span class="glyphicon glyphicon-pencil"></span></a>
        <h2>{{ post.author }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>-->
        {% if error_message %}
        <p> {{ error_message }}</p>
        {% endif %}
        {% if post.image %}
            <img src="{{ post.image.url}}" height="250" width="400">
        {% endif %}
        <form action="{% url 'combo:vote' post.pk %}" method="post">
            {% csrf_token %}
            {% for choice in post.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <input type="submit" value="Done">
        </form>

    </div>    
{% endblock %}